<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-3">
      <h4>通知</h4>
      <% if @notifications.exists? %>
      
        <%= link_to notification_path(@notifications), method: :delete do %>
          <p> <i class="fas fa-trash mr-2"></i>通知クリア</p>
        <% end %>
      
        <%= render @notifications %>
       
      <% else %>
      
        <h5 class="text-center m-3">通知はありません</h5>
      
      <% end %>
      
    </div>
  </div>
</div>