/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

.p-circle{
  position: relative;
}

.n-circle{
  position: absolute;
  right: 135px;
}

#error_explanation{
  color:red;
}

.notice {
  color: #008000;
}

.top-image {
  background-image:image-url('BPORT-about-top.jpeg');
  backgrpund-size: auto;
  background-position: center;
}

.detail {
  background-color:#E6E6FA;
}

.detail3 {
  background-color:#E6E6FA;
}

.current_user{
 background-color:#99FF99;
 border-radius: 50px;
 padding: 10px;
 box-sizing: border-box;
 overflow-wrap: break-word;
}

.visited_user{
 border-radius: 50px;
 border :  1px solid;
 padding: 10px;
 box-sizing: border-box;
 overflow-wrap: break-word;
}

.circle {
  border-radius: 50%;
  object-fit: contain;
}

.follow:hover{
  background-color: #C0C0C0;
}

.follower:hover{
  background-color: #C0C0C0;
}

.link{
  text-decoration: none;
}

.navbar-li{
 color: #808080;
}

input[type="text"] {
        width: 300px;
        height: 40px;
    }
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {

}

 @media screen and (max-width: 425px) {

}